@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald:200,300,400,500,600,700|PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i') ; 
.if { font-family : 'Indie Flower', cursive !important  ; }
.pt { font-family : 'PT Sans', sans-serif !important  ; }
.oswald { font-family : 'Oswald', sans-serif !important  ; }
.roboto { font-family : 'Roboto', sans-serif !important  ; }
.sui { font-family : Segoe UI, sans-serif !important ; font-weight : 600 ; }
.mj { font-family : Microsoft JhengHei , sans-serif !important  ; }

nav.nav_bar { background : #33353a; }
div.container .row .l .item_list {margin-top: 24px;padding: 8px;height: 90vh; overflow-x: auto; overflow-x: hidden;}
div.container .row .l .item_list .item {height: 144px;background: white;margin-bottom: 16px;display: flex; width: 100%;box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);}
div.container .row .l .item_list .item .media-body {padding: 16px;}

div.container .row .r { width: 100%; padding: 16px 28px;margin-top: 8px;}
div.container .row .r #title_text_vhor_left { background: white ; width: auto; width: 75%;height: 100%;border-top-left-radius: 20px;}
div.container .row .r #title_text_vhor_left #main { padding:28px;padding-top: 72px;}
div.container .row .r #title_text_vhor_right { background: white ; width: auto; width: 25%;height: 100%;border-top-right-radius: 20px;}
div.container .row .r #title_text_vhor_right #main { padding:28px;padding-top: 72px;}
div.container .row .r .tables { padding: 28px;background: white ; }
div.container .row .r .tables thead {border: unset;}

div.container .row .r div.tables table {margin-bottom: unset;}
/* div.container .row .r div.tables table {overflow-y: scroll;overflow-x: hidden; height:300px;} */
div.container .row .r div.tables table .times {text-align: left; width: 5%;}
div.container .row .r div.tables table .frist {text-align: left; width: 55%;}
div.container .row .r div.tables table .second {text-align: center; width: 20%;}
div.container .row .r div.tables table .third {text-align: right; width: 20%;}

div.container .row .r .footer {background: white ; width: auto; width: 100%;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;} 
div.container .row .r .footer #main { padding:28px;padding-bottom: 72px;}
div.container .row .r .footer #main button {margin: 0px 0px 0px 8px;}

div.container .row .vendor_logo {padding:12px;display:table;margin:auto;text-align: center;}
div.container .row .vendor_logo .img_border {border-radius:5px;border:solid 5px white;box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);display:inline-block;}
div.container .row .vendor_info {padding:16px;}

div.container .table_order .btn_actions {width:15%;text-align: center;}

div.container .table_log .btn_actions {width:10%;text-align: center;}

div.container div.chat div.message_title {padding: 16px;background: #ffb300;border-top-left-radius: 5px;border-top-right-radius: 5px;}
div.container div.chat div.message_title .user_name {font-weight: bold; font-size: 18px;}
div.container div.chat div.message_title .user_status {vertical-align: top;color: initial !important;}
div.container div.chat div.message_title .offline {color: gray;}
div.container div.chat div.message_title .busy {color: red;}
div.container div.chat div.message_title .online {color: green;}


div.container div.chat div#chatroom {background: #d8dee9;width: 100%;padding: 16px 16px;height: 500px;overflow-y: scroll;}
div.container div.chat div.message_list .message_item {display: block;margin:auto;width: 100%;margin-top: 1em;margin-bottom: 1em;}
div.container div.chat div.message_list .left {text-align: left;float: left;}
div.container div.chat div.message_list .right {text-align: right;float: right;}
div.container div.chat div.message_list .message_item .img {border-radius: 100%;}
div.container div.chat div.message_list .message_item div.content {background: white; border: solid 1px black; padding: 8px;display: inline-block;width: 350px;height:100%;word-wrap:break-all;border-radius: 5px;}
div.container div.chat div.message_list .message_item .time {color: gray;font-size: 12px;}

.valign-middle tr td, .valign-middle tr th {vertical-align:middle;text-align: center;}
tbody.valign-middle tr td.select-checkbox:before{position: unset;margin-left: 5px !important;}
tbody.valign-middle tr td.select-checkbox:after{position: unset;margin-top: -20px !important;margin-left: 5px !important;}

div.container div.chat div.message_send {padding: 8px;background: gray;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

div.toast_layout {position: fixed;top: 0px;right: 0px;max-width: auto;max-height: auto;padding: 0px;padding: 16px;}

/* width */
::-webkit-scrollbar {width: 10px;}
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */::-webkit-scrollbar-thumb {background: #888; }
/* Handle on hover */::-webkit-scrollbar-thumb:hover {background: #555; }