body{
    background: rgb(0,211,255);
    background: linear-gradient(140deg, rgba(0,211,255,1) 0%, rgba(4,184,231,1) 35%, rgba(0,129,255,1) 65%, rgba(4,119,231,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.container-fluid{
    overflow-x: hidden;
    overflow-y: auto;
}
.tab_s{border: solid 1px #dee2e6 !important; border-top: unset !important;height: 80vh;overflow: scroll;}
.tab_{border: solid 1px #dee2e6 !important; border-top: unset !important;height: 80vh;overflow: scroll;}
/* width */
::-webkit-scrollbar {width: 10px;}
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */::-webkit-scrollbar-thumb {background: #888; }
/* Handle on hover */::-webkit-scrollbar-thumb:hover {background: #555; }